<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Configuracoes</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
</ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-content padding color="light">
        <ion-grid fixed="true">
            <ion-row >
              <ion-col ><ion-button color="primary" strong="true" expand="block" (click)='meusdados()'>Meus Dados</ion-button></ion-col>
            </ion-row>
            <ion-row>
                <ion-col><ion-button color="primary" strong="true"  expand="block" (click)='alterarSenha()'>Alterar Senha</ion-button></ion-col>
              </ion-row>              
          </ion-grid>
    </ion-content>
    
</ion-content>
