ion-input{ border-bottom: 1px solid var(--ion-item-border-color,var(--ion-border-color,rgba(0,0,0,.13)));}
.alertDanger{
    background-color: white;
    color: red;
    button{
        color: red;
    }
}