<ion-content padding>
  <div class="imgbox">
    <div class="shadow">
      <ion-img
        src="../../assets/imgs/mini-logo_transp.png"
        class="logo"
      ></ion-img>
    </div>
  </div>
  <ion-grid fixed class="loginback">
    <ion-row> <ion-col> </ion-col> </ion-row>
    <ion-row>
      <ion-col>
        <ion-input
          class="loginput"
          placeholder="Usuário"
          type="text"
          [(ngModel)]="user.username"
        ></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-input
        [disabled]="!user.username"
          class="loginput"
          type="password"
          (keyup.enter)="login(user)"
          placeholder="Senha"
          [(ngModel)]="user.password"
        ></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" class="text-center">
        <ion-row>
          <ion-col>
            <ion-button
              tappable="true"
              [disabled]="!user.username"
              (click)="login(user)"
              class="loginbutton"
              shape="block"
              color="blue"
              flat
              >Entrar</ion-button
            >
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!--<ion-button (click)="login()" expand="block">Login</ion-button>
  <ion-button expand="block" color="secondary" href="/register" routerDirection="forward">Register</ion-button>-->
</ion-content>
