<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-button (click)="fechar()">
                <ion-icon name="close"></ion-icon>
              </ion-button>
          </ion-buttons>
      <ion-title>Memorando</ion-title>
      <ion-buttons slot="end">
          <ion-button (click)="delete()" [disabled]="!deletable">
              <ion-icon slot="icon-only" name="trash"></ion-icon>
            </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content padding>

    <ion-card color="dark">
        <ion-grid class="evento-grid">
          <ion-row align-items-center>
            <ion-col align-self-start>
              <div text-center>
                <ion-note color="light">Memorando</ion-note>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-card-header>
          <ion-card-title>
            <ion-grid>
              <ion-row>
                <ion-col size="12">
                  <div text-justify>
                      <ion-textarea [rows]="rows" [(ngModel)]="memorando.descricao" maxlength="5000" [readonly]="!editable" required></ion-textarea>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-title>
        </ion-card-header>
        </ion-card>
        <ion-grid>
            <ion-row>
                <ion-col>
                    <div text-end>
                  <ion-button (click)="commit()" [hidden]="!editable">Salvar</ion-button>
                  </div>
                </ion-col>
                </ion-row>
        </ion-grid>


</ion-content>
