<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="voltar()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Agenda</ion-title>
    <ion-buttons slot="end"> <ion-menu-button></ion-menu-button> </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-list>
      <ion-item *ngIf="agendas.length == 0">
          <ion-label>Não existem agenda cadastrada</ion-label>
        </ion-item>
        <div *ngFor="let agenda of agendas">
        <ion-card (click)="registerEvento(agenda)">
            <ion-grid class="evento-grid">
                <ion-row align-items-center>
                  <ion-col size="2">
                    <div float-right>
                      <ion-icon
                        size="large"
                        class="evento-icon"
                        [name]="agenda.grupoEvento | iconEvent"
                      ></ion-icon>
                    </div>
                  </ion-col>
                  <ion-col size="10">
                    <div float-left>
                      {{ agenda.grupoEvento }}
                    </div>
                  </ion-col>
              </ion-row>
              </ion-grid>
            <ion-card-content>
                <ion-grid>
                    <ion-row *ngIf="agenda.subGrupoEvento">
                      <ion-col>
                        <ion-label>Rotina:</ion-label>
                      </ion-col>
                      <ion-col>
                        <div>
                            {{agenda.subGrupoEvento}}
                        </div>
                      </ion-col>
                    </ion-row>
                    <ion-row *ngIf="agenda.observacao">
                      <ion-col>
                        <ion-label>Observação:</ion-label>
                      </ion-col>
                      <ion-col>
                        <div>
                            {{agenda.observacao}}
                        </div>
                      </ion-col>
                    </ion-row>
          </ion-grid>        
              
            </ion-card-content>
            <div class="item item-divider evento-footer">
                <div text-center color="light">
                  
      {{agenda.data | date:"dd/MM/yyyy HH:mm"}}
                  
                </div>
              </div>
        </ion-card>  
        </div>
    
    </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content>
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
