<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
    <ion-title>Responsáveis</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid no-padding fixed>
    <ion-row *ngIf="pacienteDTOS.length == 0">
      <ion-col>
        <div>
          <ion-label>Não existem pacientes cadastrados</ion-label>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-select [interfaceOptions]="customAlertOptions" interface="alert" placeholder="Selecione o Paciente" [(ngModel)]="paciente"
            (ionChange)="changePaciente()">
            <ion-select-option *ngFor="let pacientedto of pacienteDTOS" [value]="pacientedto.paciente">{{pacientedto.paciente.nome}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
     </ion-grid>
  <div *ngIf="selectedPaciente">
  <ion-grid no-padding fixed>

    <ion-row *ngIf="responsaveis.length == 0">
        <ion-col>
            <div>
                <ion-label>Não existem responsáveis cadastrados</ion-label>
              </div>
        </ion-col>
      </ion-row>
      <ion-row *ngFor="let responsavel of responsaveis" (click)="editResponsavel(responsavel)">
        <ion-col size="3">
          <div>
            <ion-avatar item-start>
              <img [src]="responsavel.responsavelPhoto.photo" *ngIf="responsavel.responsavelPhoto">
              <img src="../../assets/imgs/rsz_1no-avatar.jpg" *ngIf="!responsavel.responsavelPhoto">
            </ion-avatar>
          </div>
        </ion-col>
        <ion-col size="7">
          <div>
            <ion-label>
              <h2>{{responsavel.apelido || responsavel.nome}}</h2>
            </ion-label>
          </div>
        </ion-col>
      </ion-row>
  </ion-grid>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="newResponsavel()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>
</ion-content>